@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');

* {
  font-family: 'Roboto Slab', serif;
}

.hide {
  display: none;
}

img {
  max-width: 100%;
  max-height: 100%;
}
.banner {
  display: inline-flex;
  background-color: white;
  color: black;
  font-size: 24px;
  padding-left: 16px;
  width: 100%;
  padding: 10px;
  .icon {
    width: 75px;
    text-align: center;
  }
  .title {
    padding-left: 8px;
    margin: auto 0;
  }
}
.wrapper {
  width: 100%;
  background-position: top center;
  display: flex;
  justify-content: center;

  .search_box {
    width: 75%;
    position: relative;

    input[type='text'] {
      width: 100%;
      padding: 20px;
      padding-right: 60px;
      box-sizing: border-box;
      background: rgba(0, 0, 0, 0.3);
      border: 2px solid #fff;
      border-radius: 10px;
      font-size: 18px;
      color: #fff;
      outline: none;
    }
    ::-webkit-input-placeholder {
      color: #fff;
    }
  }
  .fa-search {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 25px;
    color: #fff;
    font-size: 25px;
  }
}

.spellDiv,
.spellColumn {
  display: flex;
  justify-content: center;
  border: 1px solid #dcdcdc;
  margin: 10px;

  .schoolImage,
  .icon {
    flex: 0.5;
    padding-right: 10px;
    width: 10%;
  }
  .moreInfo,
  .moreInfoIcon {
    flex: 0.25;
    margin: auto;
    color: rgb(14, 144, 250);
    padding: 0 10px;
  }
  .spellLevel,
  .level {
    flex: 0.25;
    width: 10%;
    padding-right: 20px;
    padding-top: 10px;
  }
  .castingTime,
  .castingDuration,
  .spellTime,
  .spellDuration {
    flex: 0.75;
    width: 20%;
    padding-top: 10px;
  }
  .castingRange,
  .range {
    flex: 0.5;
    width: 10%;
    padding-top: 10px;
  }
  .nameDiv,
  .info {
    flex: 1;
    width: 20%;
    padding-top: 10px;
    padding-right: 10px;
  }
  .spellClasses,
  .classes {
    flex: 1;
    padding-right: 10px;
    padding-top: 10px;
  }
}

.extendedInformation {
  display: flex;
  justify-content: center;
  border: 1px solid #dcdcdc;
  margin: -10px 10px 10px 10px;
  border-top: none;
  border-bottom: none;

  .spellEssentials {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    padding-top: 20px;
  }
  .essentialsLeft {
    flex: 1;
    padding-left: 35px;
    flex-direction: column;
  }
  .essentialsRight {
    flex: 1;
    flex-direction: column;
  }
}
hr {
  background-color: rgb(14, 144, 250);
  height: 2px !important;
}
.spellDesc {
  display: flex;
  justify-content: center;
  border: 1px solid #dcdcdc;
  margin: -10px 10px 10px 10px;
  border-top: none;
  .desc {
    padding: 10px;
    padding-left: 25px;
  }
}
@media (max-width: 800px) {
  .spellDiv,
  .spellColumn {
    padding: 10px 10px;
    line-height: 1;
    flex-wrap: wrap;
    display: flex;

    .schoolImage,
    .icon {
      display: none;
    }
    .spellClasses,
    .classes {
      display: none;
    }
    .castingTime,
    .castingDuration,
    .spellTime,
    .spellDuration {
      display: none;
    }
    .castingRange,
    .range {
      display: none;
    }
  }
}
